
body {
    background-color: rgb(245,245,245);
}

h1 {
    color: black;
}

h1 {font-size: 16px;
		font-family: 'Proza Libre', sans-serif;
	  font-weight: normal;
	  font-style: normal;
	  text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

h2 {font-size: 36px;
	font-family: 'Proza Libre', sans-serif;
	  font-weight: normal;
	  font-style: normal;
	  text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

img.natalieSthamer {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 500px;
	width: 750px;
}

img.Frollo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	padding: 1em 1em 1em 1em;
}

img.Wallsync {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	padding: 1em 1em 1em 1em;
}

img.NSWOEH {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	padding: 1em 1em 1em 1em;
}

p {font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	  font-weight: normal;
	  font-style: normal;
	  <text-align: center;>
	text-decoration: none;
}

#left1 {
    background-color: rgb(245,245,245);
    padding: 10px;
    float: left;
    width: 30%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#right1 {
    background-color: rgb(245,245,245);
    padding: 5px;
    float: right;   
    width: 60%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#left2 {
    background-color: rgb(245,245,245);
    padding: 5px;
    float: left;   
    width: 60%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#right2 {
    background-color: rgb(245,245,245);
    padding: 10px;
    float: right;
    width: 30%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#left3 {
    background-color: rgb(245,245,245);
    padding: 10px;
    float: left;
    width: 60%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#right3 {
    background-color: rgb(245,245,245);
    padding: 5px;
    float: right;   
    width: 30%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;

    @media only screen and (max-width: 768px)